* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
  color: #222;
}

body {
  padding-top: 2rem;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  margin-left: 1rem;
  margin-top: 0.4rem;
}

h2 {
  flex: 0 0 100%;
  margin: 2rem;
  font-size: 2rem;
  text-decoration: underline;
  font-weight: normal;
}

p {
  font-size: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

main {
  max-width: 90rem;
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
}

.line-holder {
  width: 8rem;
  height: 8rem;
  background-color: #222;
  margin: 2rem;
  position: relative;
  overflow: hidden;
}

.line-one {
  width: 6rem;
  height: 0.4rem;
  background-color: #fff;
  position: absolute;
  top: 3rem;
  left: 1rem;
  border-radius: 0.4rem;
}

.line-two {
  width: 6rem;
  height: 0.4rem;
  background-color: #fff;
  position: absolute;
  top: 5rem;
  left: 1rem;
  border-radius: 0.4rem;
}

.line-holder:hover .make-an-x.line-one {
  animation-name: make-an-x-one;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.line-holder:hover .make-an-x.line-two {
  animation-name: make-an-x-two;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes make-an-x-one {
  from {
    top: 3rem;
    transform: rotate(0deg);
  }

  to {
    top: 4rem;
    transform: rotate(45deg);
  }
}

@keyframes make-an-x-two {
  from {
    top: 5rem;
    transform: rotate(0deg);
  }

  to {
    top: 4rem;
    transform: rotate(-45deg);
  }
}

.line-holder:hover .make-a-thicker-x.line-one {
  animation-name: make-a-thicker-x-one;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.line-holder:hover .make-a-thicker-x.line-two {
  animation-name: make-a-thicker-x-two;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes make-a-thicker-x-one {
  from {
    top: 3rem;
    transform: rotate(0deg);
    height: 0.4rem;
  }

  to {
    top: 3.8rem;
    transform: rotate(45deg);
    height: 0.8rem;
  }
}

@keyframes make-a-thicker-x-two {
  from {
    top: 3rem;
    transform: rotate(0deg);
    height: 0.4rem;
  }

  to {
    top: 3.8rem;
    transform: rotate(-45deg);
    height: 0.8rem;
  }
}

.line-holder:hover .cross-paths-into-x.line-one {
  animation-name: cross-paths-into-x-one;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.line-holder:hover .cross-paths-into-x.line-two {
  animation-name: cross-paths-into-x-two;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes cross-paths-into-x-one {
  from {
    top: 3rem;
    transform: rotate(0deg);
  }

  to {
    top: 4rem;
    transform: rotate(135deg);
  }
}

@keyframes cross-paths-into-x-two {
  from {
    top: 3rem;
    transform: rotate(0deg);
  }

  to {
    top: 4rem;
    transform: rotate(-135deg);
  }
}

.line-holder:hover .exit-return-as-x.line-one {
  animation-name: exit-return-as-x-one;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.line-holder:hover .exit-return-as-x.line-two {
  animation-name: exit-return-as-x-two;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes exit-return-as-x-one {
  0% {
    top: 3rem;
    transform: rotate(0deg);
  }

  50% {
    top: -3rem;
    left: -6rem;
    transform: rotate(60deg);
  }

  100% {
    top: 4rem;
    transform: rotate(45deg);
  }
}

@keyframes exit-return-as-x-two {
  0% {
    top: 5rem;
    transform: rotate(0deg);
  }

  50% {
    top: 11rem;
    left: -6rem;
    transform: rotate(-60deg);
  }

  100% {
    transform: rotate(-45deg);
    top: 4rem;
  }
}

.line-holder:hover .spin-into-x.line-one {
  animation-name: spin-into-x-one;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.line-holder:hover .spin-into-x.line-two {
  animation-name: spin-into-x-two;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes spin-into-x-one {
  0% {
    top: 3rem;
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    top: 4rem;
    transform: rotate(45deg);
  }
}

@keyframes spin-into-x-two {
  0% {
    top: 5rem;
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    top: 4rem;
    transform: rotate(-45deg);
  }
}
